@font-face {
    font-family: 'Kurotaki';
    src: url('../assets/fonts/Korataki.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Black.ttf');
    font-weight: normal;
    font-style: normal;
}
