@use 'fonts';

$baseFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.header {
    &__first {
        display: flex;
        justify-content: flex-end;
        height: 40px;
        background-color: #000;
        align-items: center;

        &-help {
            color: #fff;
            font-size: 16px;
            padding-left: 15px;
            margin-right: 70px;
            transition: 0.2s ease-in;
            cursor: pointer;

            span {
                font-family: $baseFont;
            }

            &:hover {
                color: #8d8b8b;
            }
        }
    }

    //mobile
    &__menu {
        position: absolute;
        top: 0px;
        right: 0;
        background-color: #f1f1f1;
        border-radius: 10px;
        padding: 20px;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        z-index: 1;
        opacity: 0;

        width: 400px;
        height: 600px;

        &.opened {
            transform: translateX(0);
            opacity: 1;
            @media (max-width: 390px) {
                transform: translateX(20%);
            }
        }

        &-logo {
            span {
                font-family: 'Kurotaki';
                color: #000;
                display: inline-block;
                font-size: 14px;
                width: 20px;
                margin: 0 0 5px 0;
                @media (max-width: 1280px) and (min-width: 780px) {
                    font-size: 10px;
                }

                @media (max-width: 390px) {
                    font-size: 10px;
                }
            }

            img {
                position: relative;
                top: 2px;
                height: 56px;
                width: 56px;
                @media (max-width: 1280px) and (min-width: 780px) {
                    height: 40px;
                    width: 40px;
                }

                @media (max-width: 390px) {
                    height: 35px;
                    width: 35px;
                }
            }
        }

        &-help {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 16px;
            margin: 25px 70px 0 0;
            transition: 0.2s ease-in;
            cursor: pointer;
            background-color: #333;
            height: 50px;
            width: 200px;
            border-radius: 25px;

            span {
                font-family: $baseFont;
            }

            &:hover {
                color: #8d8b8b;
            }
        }

        &-navs {
            display: flex;
            flex-direction: column;
            @media (max-width: 1280px) and (min-width: 780px) {
                justify-content: space-around;
                margin-left: 30px;
            }

            &-nav {
                position: relative;
                font-family: $baseFont;
                font-weight: 400;
                cursor: pointer;
                text-decoration: none;
                color: #000;
                margin-top: 25px;

                @media (max-width: 1280px) and (min-width: 780px) {
                    margin-left: 30px;
                    font-size: 12px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: #000;
                    transition: 0.2s ease-in;
                }

                &:hover::after {
                    width: 20%;
                    left: 0;
                }
            }
        }

        &-search {
            margin-top: 50px;
            input {
                width: 200px;
                border-radius: 30px;
                text-decoration: none;
                height: 40px;
                border: 1px solid #eeeeee;
                padding: 0 0 0 15px;
                font-size: 16px;
                transition: all 0.4s ease-in-out;
                opacity: 0.6;
                &:focus {
                    opacity: 1;
                    width: 220px;
                    @media (max-width: 1280px) and (min-width: 780px) {
                        width: 140px;
                    }
                }

                @media (max-width: 1280px) and (min-width: 780px) {
                    width: 120px;
                }
            }

            img {
                position: relative;
                right: 40px;
                top: 5px;
            }
        }

        &-basket {
            width: 160px;
            height: 40px;
            background-color: #000;
            margin: 40px 0 0 0;
            border-radius: 30px;
            cursor: pointer;
            transition: all 0.2s ease-in;
            @media (max-width: 1280px) and (min-width: 780px) {
                width: 120px;
            }
            &:hover {
                background-color: #333;
            }

            img {
                position: relative;
                top: 6px;
                left: 25px;
                @media (max-width: 1280px) and (min-width: 780px) {
                    left: 10px;
                }
            }

            span {
                position: relative;
                left: 30px;
                color: #fff;
                @media (max-width: 1280px) and (min-width: 780px) {
                    left: 10px;
                    bottom: 1px;
                    font-size: 15px;
                }
            }
        }
    }

    //mobile

    &__second {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;

        @media (max-width: 770px) and (min-width: 391px) {
            justify-content: space-around;
            margin-top: 15px;
        }

        &-logo {
            @media (max-width: 770px) and (min-width: 391px) {
                margin-right: 280px;
            }

            @media (max-width: 390px) {
                margin-right: 180px;
            }

            span {
                font-family: 'Kurotaki';
                color: #000;
                display: inline-block;
                font-size: 14px;
                width: 20px;
                margin: 0 0 5px 0;
                @media (max-width: 1280px) and (min-width: 780px) {
                    font-size: 10px;
                }

                @media (max-width: 390px) {
                    font-size: 10px;
                }
            }

            img {
                position: relative;
                top: 2px;
                height: 56px;
                width: 56px;
                @media (max-width: 1280px) and (min-width: 780px) {
                    height: 40px;
                    width: 40px;
                }

                @media (max-width: 390px) {
                    height: 35px;
                    width: 35px;
                }
            }
        }
        //mobile
        &-open-menu {
            z-index: 3;
            cursor: pointer;
            img {
                width: 50px;
                height: 50px;

                @media (max-width: 390px) {
                    height: 35px;
                    width: 35px;
                }
            }
        }

        &-navs {
            display: flex;
            flex-direction: row;
            @media (max-width: 1280px) and (min-width: 780px) {
                justify-content: space-around;
                margin-left: 30px;
            }

            &-nav {
                position: relative;
                font-family: $baseFont;
                margin-left: 100px;
                font-weight: 400;
                cursor: pointer;
                text-decoration: none;
                color: #000;

                @media (max-width: 1280px) and (min-width: 780px) {
                    margin-left: 30px;
                    font-size: 12px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: #000;
                    transition: 0.2s ease-in;
                }

                &:hover::after {
                    width: 100%;
                    left: 0;
                }
            }
        }

        &-search {
            margin-left: 100px;

            @media (max-width: 1280px) and (min-width: 780px) {
                margin-left: 0;
            }
            input {
                width: 200px;
                border-radius: 30px;
                text-decoration: none;
                height: 40px;
                border: 1px solid #eeeeee;
                padding: 0 0 0 15px;
                font-size: 16px;
                transition: all 0.4s ease-in-out;
                opacity: 0.6;
                &:focus {
                    opacity: 1;
                    width: 220px;
                    @media (max-width: 1280px) and (min-width: 780px) {
                        width: 140px;
                    }
                }

                @media (max-width: 1280px) and (min-width: 780px) {
                    width: 120px;
                }
            }

            img {
                position: relative;
                right: 40px;
                top: 5px;
            }
        }

        &-basket {
            width: 160px;
            height: 40px;
            background-color: #000;
            margin: 0;
            border-radius: 30px;
            cursor: pointer;
            transition: all 0.2s ease-in;
            @media (max-width: 1280px) and (min-width: 780px) {
                width: 120px;
            }
            &:hover {
                background-color: #333;
            }

            img {
                position: relative;
                top: 6px;
                left: 25px;
                @media (max-width: 1280px) and (min-width: 780px) {
                    left: 10px;
                }
            }

            span {
                position: relative;
                left: 30px;
                color: #fff;
                @media (max-width: 1280px) and (min-width: 780px) {
                    left: 10px;
                    bottom: 1px;
                    font-size: 15px;
                }
            }
        }
    }
}

.main {
    &__title {
        display: flex;
        justify-content: flex-start;
        margin: 50px 0 50px 250px;
        @media (max-width: 1280px) and (min-width: 780px) {
            margin: 50px 0 50px 100px;
        }

        @media (max-width: 770px) and (min-width: 391px) {
            margin: 50px 0 50px 80px;
        }

        @media (max-width: 390px) {
            margin: 50px 0 50px 20px;
            font-size: 14px;
        }

        h1 {
            font-family: 'Kurotaki';
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 20px;

        @media (max-width: 770px) and (min-width: 391px) {
            margin-right: 20px;
        }
        .main__card {
            margin: 0 0 0 80px;
            @media (max-width: 770px) and (min-width: 391px) {
                margin: 0 0 0 30px;
            }

            @media (max-width: 390px) {
                margin: 0 0 0 18px;
            }
            &-disc {
                position: absolute;
                margin: 10px 0 0 12px;
                width: 125px;
                height: 40px;
                border-radius: 25px;
                background-color: #000;
                span {
                    position: absolute;
                    margin: 10px 0 0 34px;
                    color: #fff;

                    @media (max-width: 390px) {
                        font-size: 12px;
                        margin: 8px 0 0 18px;
                    }
                }
                @media (max-width: 390px) {
                    width: 80px;
                    height: 30px;
                }
            }
            img {
                border-radius: 15px;
                width: 320px;
                height: 480px;

                @media (max-width: 770px) and (min-width: 391px) {
                    width: 320px;
                    height: 470px;
                }
                @media (max-width: 390px) {
                    width: 150px;
                    height: 200px;
                }
            }

            &-button {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 120px;
                left: 50%;
                transform: translateX(-50%);
                background-color: rgba(255, 255, 255, 0.5);
                color: white;
                border: none;
                transition: 0.3s ease-in-out;
                opacity: 0;
                height: 100px;

                @media (max-width: 390px) {
                    height: 70px;
                    width: 151px;
                }

                button {
                    width: 258px;
                    height: 48px;
                    font-size: 16px;
                    background-color: #e45302;
                    color: #fff;
                    border: none;
                    border-radius: 100px;
                    cursor: pointer;
                    @media (max-width: 770px) and (min-width: 391px) {
                        width: 180px;
                    }

                    @media (max-width: 390px) {
                        width: 100px;
                        height: 30px;
                        font-size: 12px;
                    }
                }
            }

            &:hover {
                .main__card-button {
                    bottom: 190px;
                    opacity: 1;
                    @media (max-width: 390px) {
                        bottom: 130px;
                    }
                }
            }

            &-info {
                h5 {
                    font-family: $baseFont;
                    font-size: 15px;
                    @media (max-width: 770px) and (min-width: 391px) {
                        font-size: 14px;
                        height: 22px;
                        width: 231px;
                    }

                    @media (max-width: 390px) {
                        width: 80px;
                        font-size: 12px;
                    }
                }
                @media (max-width: 390px) {
                    height: 40px;
                }
            }

            &-price {
                &--main {
                    font-family: $baseFont;
                    font-weight: bold;
                    @media (max-width: 390px) {
                        font-size: 12px;
                    }
                }
                &--disc {
                    font-family: $baseFont;
                    margin-left: 15px;
                    font-weight: bold;
                    @media (max-width: 390px) {
                        font-size: 12px;
                    }
                }

                &--dash {
                    position: relative;
                    top: 11px;
                    left: 80px;
                    width: 55px;
                    height: 2px;
                    background-color: #808080;
                    @media (max-width: 770px) and (min-width: 391px) {
                    }
                    @media (max-width: 390px) {
                        left: 60px;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    height: 320px;
    align-items: center;

    &__block-one {
        &-logo {
            margin-bottom: 40px;
            span {
                font-family: 'Kurotaki';
                color: #ffffff;
                display: inline-block;
                font-size: 14px;
                width: 20px;
                margin: 0 0 5px 0;
                @media (max-width: 1280px) and (min-width: 780px) {
                    font-size: 10px;
                }
                @media (max-width: 770px) and (min-width: 391px) {
                    font-size: 10px;
                }
            }

            img {
                position: relative;
                top: 2px;
                height: 56px;
                width: 56px;
                @media (max-width: 1280px) and (min-width: 780px) {
                    height: 40px;
                    width: 40px;
                }

                @media (max-width: 770px) and (min-width: 391px) {
                    height: 40px;
                    width: 40px;
                }
            }
        }

        &--captcha {
            width: 325px;

            span {
                font-family: $baseFont;
                color: #808080;
            }

            a {
                font-family: $baseFont;
                color: #808080;
            }
            @media (max-width: 1280px) and (min-width: 780px) {
                font-size: 12px;
                width: 220px;
            }

            @media (max-width: 770px) and (min-width: 391px) {
                font-size: 12px;
                width: 180px;
            }
        }
    }

    &__block-two {
        @media (max-width: 1280px) and (min-width: 780px) {
            font-size: 12px;
        }

        @media (max-width: 770px) and (min-width: 391px) {
            font-size: 11px;
        }

        &--address {
            font-family: $baseFont;
            color: #fff;
            margin-bottom: 15px;
        }

        &--contacts {
            display: flex;
            flex-direction: column;
            font-family: $baseFont;
            color: #fff;

            span {
                margin-bottom: 20px;
            }
        }
    }

    &__block-three {
        display: flex;
        flex-direction: column;
        font-family: $baseFont;
        color: #fff;

        span {
            margin-bottom: 15px;
        }

        @media (max-width: 1280px) and (min-width: 780px) {
            font-size: 12px;
        }

        @media (max-width: 770px) and (min-width: 391px) {
            font-size: 11px;
        }
    }

    &__block-four {
        display: flex;
        flex-direction: column;
        span {
            text-align: right;
            display: block;
            font-family: $baseFont;
            color: #808080;
            margin-bottom: 20px;
        }

        img {
            margin: 30px 0 0 35px;
            @media (max-width: 1280px) and (min-width: 780px) {
                width: 35px;
                height: 14px;
            }

            @media (max-width: 770px) and (min-width: 391px) {
                width: 30px;
                height: 12px;
            }
        }

        @media (max-width: 1280px) and (min-width: 780px) {
            font-size: 12px;
        }

        @media (max-width: 770px) and (min-width: 391px) {
            font-size: 11px;
        }
    }
}

.a {
    height: 100px;
    img {
        width: 80px;
        height: 100px;
    }
}
